body {
    font-family: Arial, sans-serif;
    
    background-image: linear-gradient(to right, rgb(0, 106, 255) , rgb(123, 0, 255));
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0006;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #f0f0f0;
}

form {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li button {
    background-color: #dc3545;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#task-list li button:hover {
    background-color: #b72134;
}